<% include ../partials/header %>

<h1>index.ejs</h1>

<main>
    <section class="section-blog-list">
        <% blogs.forEach((blog) => { %>
        <div class="blog-list-item b-card">
            <div class="b-card__img">
                <img src="<%= blog.image %>">
            </div>
            <div class="b-card__description">
                <h3 class="b-card__title"><%= blog.title %></h3>
                <p class="b-card__body"><%= blog.body.substring(0, 50) %> ...</p>
            </div>
            <a class="b-card__link" href="/blogs/<%= blog._id %>"></a>
        </div>
        <% }) %>
    </section>
</main>

<a href="/blogs/new">create new blog</a>

<% include ../partials/footer %>