.header {
    height: 15rem;
    background-image: linear-gradient(to right bottom, rgba(yellow, .7), rgba(green, .7));
    position: relative;

    &__title {
        @include absCenter;
        color: $color-white;
    }
}