*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is (if default font-size = 16px, 1rem = 10px)
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a:link,
a:visited {
    text-decoration: none;
}