.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 2rem; }
  .row .col-1-of-2 {
    width: calc(1 * calc((100% - 2rem * (2 - 1)) / 2) + 0rem); }
  .row .col-1-of-3 {
    width: calc(1 * calc((100% - 2rem * (3 - 1)) / 3) + 0rem); }
  .row .col-2-of-3 {
    width: calc(2 * calc((100% - 2rem * (3 - 1)) / 3) + 2rem); }
  .row .col-1-of-4 {
    width: calc(1 * calc((100% - 2rem * (4 - 1)) / 4) + 0rem); }
  .row .col-2-of-4 {
    width: calc(2 * calc((100% - 2rem * (4 - 1)) / 4) + 2rem); }
  .row .col-3-of-4 {
    width: calc(3 * calc((100% - 2rem * (4 - 1)) / 4) + 4rem); }
  .row .col-1-of-5 {
    width: calc(1 * calc((100% - 2rem * (5 - 1)) / 5) + 0rem); }
  .row .col-2-of-5 {
    width: calc(2 * calc((100% - 2rem * (5 - 1)) / 5) + 2rem); }
  .row .col-3-of-5 {
    width: calc(3 * calc((100% - 2rem * (5 - 1)) / 5) + 4rem); }
  .row .col-4-of-5 {
    width: calc(4 * calc((100% - 2rem * (5 - 1)) / 5) + 6rem); }
  .row .col-1-of-6 {
    width: calc(1 * calc((100% - 2rem * (6 - 1)) / 6) + 0rem); }
  .row .col-2-of-6 {
    width: calc(2 * calc((100% - 2rem * (6 - 1)) / 6) + 2rem); }
  .row .col-3-of-6 {
    width: calc(3 * calc((100% - 2rem * (6 - 1)) / 6) + 4rem); }
  .row .col-4-of-6 {
    width: calc(4 * calc((100% - 2rem * (6 - 1)) / 6) + 6rem); }
  .row .col-5-of-6 {
    width: calc(5 * calc((100% - 2rem * (6 - 1)) / 6) + 8rem); }
  .row .col-1-of-7 {
    width: calc(1 * calc((100% - 2rem * (7 - 1)) / 7) + 0rem); }
  .row .col-2-of-7 {
    width: calc(2 * calc((100% - 2rem * (7 - 1)) / 7) + 2rem); }
  .row .col-3-of-7 {
    width: calc(3 * calc((100% - 2rem * (7 - 1)) / 7) + 4rem); }
  .row .col-4-of-7 {
    width: calc(4 * calc((100% - 2rem * (7 - 1)) / 7) + 6rem); }
  .row .col-5-of-7 {
    width: calc(5 * calc((100% - 2rem * (7 - 1)) / 7) + 8rem); }
  .row .col-6-of-7 {
    width: calc(6 * calc((100% - 2rem * (7 - 1)) / 7) + 10rem); }
  .row .col-1-of-8 {
    width: calc(1 * calc((100% - 2rem * (8 - 1)) / 8) + 0rem); }
  .row .col-2-of-8 {
    width: calc(2 * calc((100% - 2rem * (8 - 1)) / 8) + 2rem); }
  .row .col-3-of-8 {
    width: calc(3 * calc((100% - 2rem * (8 - 1)) / 8) + 4rem); }
  .row .col-4-of-8 {
    width: calc(4 * calc((100% - 2rem * (8 - 1)) / 8) + 6rem); }
  .row .col-5-of-8 {
    width: calc(5 * calc((100% - 2rem * (8 - 1)) / 8) + 8rem); }
  .row .col-6-of-8 {
    width: calc(6 * calc((100% - 2rem * (8 - 1)) / 8) + 10rem); }
  .row .col-7-of-8 {
    width: calc(7 * calc((100% - 2rem * (8 - 1)) / 8) + 12rem); }
  .row .col-1-of-9 {
    width: calc(1 * calc((100% - 2rem * (9 - 1)) / 9) + 0rem); }
  .row .col-2-of-9 {
    width: calc(2 * calc((100% - 2rem * (9 - 1)) / 9) + 2rem); }
  .row .col-3-of-9 {
    width: calc(3 * calc((100% - 2rem * (9 - 1)) / 9) + 4rem); }
  .row .col-4-of-9 {
    width: calc(4 * calc((100% - 2rem * (9 - 1)) / 9) + 6rem); }
  .row .col-5-of-9 {
    width: calc(5 * calc((100% - 2rem * (9 - 1)) / 9) + 8rem); }
  .row .col-6-of-9 {
    width: calc(6 * calc((100% - 2rem * (9 - 1)) / 9) + 10rem); }
  .row .col-7-of-9 {
    width: calc(7 * calc((100% - 2rem * (9 - 1)) / 9) + 12rem); }
  .row .col-8-of-9 {
    width: calc(8 * calc((100% - 2rem * (9 - 1)) / 9) + 14rem); }
  .row .col-1-of-10 {
    width: calc(1 * calc((100% - 2rem * (10 - 1)) / 10) + 0rem); }
  .row .col-2-of-10 {
    width: calc(2 * calc((100% - 2rem * (10 - 1)) / 10) + 2rem); }
  .row .col-3-of-10 {
    width: calc(3 * calc((100% - 2rem * (10 - 1)) / 10) + 4rem); }
  .row .col-4-of-10 {
    width: calc(4 * calc((100% - 2rem * (10 - 1)) / 10) + 6rem); }
  .row .col-5-of-10 {
    width: calc(5 * calc((100% - 2rem * (10 - 1)) / 10) + 8rem); }
  .row .col-6-of-10 {
    width: calc(6 * calc((100% - 2rem * (10 - 1)) / 10) + 10rem); }
  .row .col-7-of-10 {
    width: calc(7 * calc((100% - 2rem * (10 - 1)) / 10) + 12rem); }
  .row .col-8-of-10 {
    width: calc(8 * calc((100% - 2rem * (10 - 1)) / 10) + 14rem); }
  .row .col-9-of-10 {
    width: calc(9 * calc((100% - 2rem * (10 - 1)) / 10) + 16rem); }
  .row .col-1-of-11 {
    width: calc(1 * calc((100% - 2rem * (11 - 1)) / 11) + 0rem); }
  .row .col-2-of-11 {
    width: calc(2 * calc((100% - 2rem * (11 - 1)) / 11) + 2rem); }
  .row .col-3-of-11 {
    width: calc(3 * calc((100% - 2rem * (11 - 1)) / 11) + 4rem); }
  .row .col-4-of-11 {
    width: calc(4 * calc((100% - 2rem * (11 - 1)) / 11) + 6rem); }
  .row .col-5-of-11 {
    width: calc(5 * calc((100% - 2rem * (11 - 1)) / 11) + 8rem); }
  .row .col-6-of-11 {
    width: calc(6 * calc((100% - 2rem * (11 - 1)) / 11) + 10rem); }
  .row .col-7-of-11 {
    width: calc(7 * calc((100% - 2rem * (11 - 1)) / 11) + 12rem); }
  .row .col-8-of-11 {
    width: calc(8 * calc((100% - 2rem * (11 - 1)) / 11) + 14rem); }
  .row .col-9-of-11 {
    width: calc(9 * calc((100% - 2rem * (11 - 1)) / 11) + 16rem); }
  .row .col-10-of-11 {
    width: calc(10 * calc((100% - 2rem * (11 - 1)) / 11) + 18rem); }
  .row .col-1-of-12 {
    width: calc(1 * calc((100% - 2rem * (12 - 1)) / 12) + 0rem); }
  .row .col-2-of-12 {
    width: calc(2 * calc((100% - 2rem * (12 - 1)) / 12) + 2rem); }
  .row .col-3-of-12 {
    width: calc(3 * calc((100% - 2rem * (12 - 1)) / 12) + 4rem); }
  .row .col-4-of-12 {
    width: calc(4 * calc((100% - 2rem * (12 - 1)) / 12) + 6rem); }
  .row .col-5-of-12 {
    width: calc(5 * calc((100% - 2rem * (12 - 1)) / 12) + 8rem); }
  .row .col-6-of-12 {
    width: calc(6 * calc((100% - 2rem * (12 - 1)) / 12) + 10rem); }
  .row .col-7-of-12 {
    width: calc(7 * calc((100% - 2rem * (12 - 1)) / 12) + 12rem); }
  .row .col-8-of-12 {
    width: calc(8 * calc((100% - 2rem * (12 - 1)) / 12) + 14rem); }
  .row .col-9-of-12 {
    width: calc(9 * calc((100% - 2rem * (12 - 1)) / 12) + 16rem); }
  .row .col-10-of-12 {
    width: calc(10 * calc((100% - 2rem * (12 - 1)) / 12) + 18rem); }
  .row .col-11-of-12 {
    width: calc(11 * calc((100% - 2rem * (12 - 1)) / 12) + 20rem); }
