.b-card {
    background-color: $color-white;
    width: 85rem;
    display: flex;
    border-radius: 3px;
    box-shadow: 0 3px 3px rgba($color-black, .1);
    overflow: hidden;
    position: relative;
    transition: all .2s;

    &:hover {
        transform: translateX(1%);
    }

    &__img {
        overflow: hidden;

        & img {
            width: 30rem;
            vertical-align: bottom;
            transition: all .5s;
            // transition-delay: .2s;
        }
    }

    &:hover &__img img{
        transform: scale(1.1);
    }

    &__description {
        width: 54rem;
        padding: 1.5rem 2rem
    }

    &__title {
        font-size: 2rem;
        margin-bottom: 1rem;
        color: $color-grey-dark-1;
    }

    &__body {
        font-size: 1.4rem;
        color: $color-grey-light-1;
    }

    &__link:link,
    &__link:visited {
        position: absolute;
        width: 100%;
        height: 100%;

        background-color: transparent;
    }

}